.sinNada{
    padding: 0; 
    margin: 0;
}
.fondoGanador{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: rgba(86,201,197,1);
    background: -moz-linear-gradient(left, rgba(86,201,197,1) 0%, rgba(148,223,219,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(86,201,197,1)), color-stop(100%, rgba(148,223,219,1)));
    background: -webkit-linear-gradient(left, rgba(86,201,197,1) 0%, rgba(148,223,219,1) 100%);
    background: -o-linear-gradient(left, rgba(86,201,197,1) 0%, rgba(148,223,219,1) 100%);
    background: -ms-linear-gradient(left, rgba(86,201,197,1) 0%, rgba(148,223,219,1) 100%);
    background: linear-gradient(to right, rgba(86,201,197,1) 0%, rgba(148,223,219,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#56c9c5', endColorstr='#94dfdb', GradientType=1 );
    height: 100vh;
    width: 100%;
}

.fondoVerCupon{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: rgba(86,201,197,1);
    background: -moz-linear-gradient(left, rgba(86,201,197,1) 0%, rgba(148,223,219,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(86,201,197,1)), color-stop(100%, rgba(148,223,219,1)));
    background: -webkit-linear-gradient(left, rgba(86,201,197,1) 0%, rgba(148,223,219,1) 100%);
    background: -o-linear-gradient(left, rgba(86,201,197,1) 0%, rgba(148,223,219,1) 100%);
    background: -ms-linear-gradient(left, rgba(86,201,197,1) 0%, rgba(148,223,219,1) 100%);
    background: linear-gradient(to right, rgba(86,201,197,1) 0%, rgba(148,223,219,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#56c9c5', endColorstr='#94dfdb', GradientType=1 );
    height: 100%;
    width: 100%;
}
.contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
  
    height: 100%;
    width: 100%;
}

.toda-tarjeta{
    width: 380px;
    max-width: 90%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(240, 248, 255, 0);
    box-shadow: 20px;
}

.tarjeta{
    max-width: 100%;
    border-radius: 0px;

    padding-top: 20px!important;
    padding-bottom: 20px;
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-content: center;
    text-align: center;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.code-cupon{
    background-color: rgb(233, 233, 233);
    border-radius: 10px;
    width: 80%;
    margin: 0 auto;
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 2px;
}

.btn-grl{
    position: absolute;
    border-radius: 10px;
    bottom: 40px;
    text-align: center;
    max-width: 90%;
    width: 380px;
    
    padding: 8px 0px;
    font-size: 30px;
    background-color: rgb(255, 255, 255);
    color: rgba(86,201,197,1);
    font-weight: bold;
}

.tit-cupon{
    color: rgba(86,201,197,1);
    font-weight: bold;
}

.txt-quedan{
    margin-top: 10px;
    color: rgb(0, 32, 31);
}

.cat-cupon{
    font-size: 20px;
}

.main-cupon{
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    font-size: 20px;
    color: white;
    font-weight: bold;
    background-color: rgba(86,201,197,1);
    height: 100%;
    top: 0;

    height: 60px;
    padding: 0 30px;
    border-top-left-radius: 10px;
    border-top-right-radius:  10px;
}

.contenido-cupon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-around;
    height: 100%;
}
.tit-feliz{
    margin-top: 60px;
    font-size: 30px;
    color: white;
    text-align: center;
    font-weight: bold;
}

.porc-cupon{
    font-size: 28px;
}

.cont-datos{
    border-top: 1px dashed  rgb(187, 187, 187);

    margin-top: 20px;
    padding-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.items-datos{
    padding: 0 30px;
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.item-tit-datos{
    font-size: 12px;
    color: gray;
}

/*MIS CUPONES*/

.cupon-item{
    background-color: white;
    margin: 10px;
    padding: 20px;
}
.cupon-item span{
    color: rgb(0, 71, 69);
}

.tit-codigo{
    font-size: 25px!important;
    color: black;
}

.linea-cupon{
    background-color: #94dfdb;
    height: 2px;
    width: 100px;
}

.nombre-cupon{
    font-size: 20px;
    font-weight: bold;
}
.circle{
    background-color: red;
    height: ;
}